@import url('https://fonts.googleapis.com/css?family=Cantata+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* CARD STYLING */

.cont,
.card,
.card_front,
.card_back {
  width: 280px;
  height: 380px;
  margin: 3em auto;
}

.card_front {
  background: #FF6B6C;
  box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.58);
}
.card_back {
/*   height: 100%; */
  background: #3452ff;
  box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.58);
}

.card-symbol {
  margin: 0;
  width: 0%;
  text-align: center;
  color: #FFF;
  font-family: 'Cantata One', serif;
  font-size: 0em;
  mix-blend-mode: lighten;
}

@supports(display:flex){
 .card_front {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card_front .card-symbol {
    /*margin: 0 0.15em;
    border-radius: 50%;
    font-size: 15em;*/
  }
}

/*.card_front {
  position: relative;
  padding: 0 1em;
}*/

.card_front .card-symbol {
  font-size: 15em;
}



.card_back {
/*   display: none; */
  padding-top: 100px;
}

.card_front > *,
.card_back > * {
  /*background-color: white;
  background-color: rgba(255, 255, 255, 0.75);*/
}

.card-text {
  padding: 0 4.5em 1em;
  line-height: 1.4;
  color: #FFFFFF;
}

/*p:first-of-type {
  margin-top: 0;
  padding: 1.5em 0 0;
  border-top: 8px solid #333;
}*/

/* FLIP CARD STYLING */
.cont {
  perspective: 1000px;
}

.cont:hover .card,
.cont.hover {
  transform: rotateY(-180deg);
}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  transform: rotateY(-180deg);
}

.paragraph {
  color: #FFF;
}
